html {
  display: grid;
  place-content: center;
  height: 100vh;
  margin: 0 auto;
  background-color: #242424;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}

.row {
  display: flex;
} 

.cell {
  display: flex;
  border: 1px solid white;
  height: 100px;
  width: 100px;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  cursor: crosshair;
}